nam/kod.txt
[{"id":"2c41a2bd.aa36ae","type":"tab","label":"Flow 1"},{"id":"72841b67.603ab4","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/semafor1:0/alarm/-/set/state","qos":"","retain":"","broker":"29fba84a.b2af58","x":420,"y":160,"wires":[]},{"id":"be9089bc.709618","type":"change","z":"2c41a2bd.aa36ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":280,"wires":[["72841b67.603ab4","6bd04c75.0357b4"]]},{"id":"2d176e08.d55e22","type":"inject","z":"2c41a2bd.aa36ae","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":120,"wires":[["be9089bc.709618"]]},{"id":"ada316.7667fce8","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/semafor1:0/alarm/-/set/state","qos":"","retain":"","broker":"29fba84a.b2af58","x":420,"y":460,"wires":[]},{"id":"1bf82f96.71871","type":"change","z":"2c41a2bd.aa36ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":580,"wires":[["ada316.7667fce8","a1d0263e.397c68"]]},{"id":"56d17a9b.b325e4","type":"inject","z":"2c41a2bd.aa36ae","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":420,"wires":[["1bf82f96.71871"]]},{"id":"b02f58a8.f1ea48","type":"http in","z":"2c41a2bd.aa36ae","name":"","url":"/0","method":"get","upload":false,"swaggerDoc":"","x":100,"y":40,"wires":[["be9089bc.709618"]]},{"id":"b037611a.26111","type":"http in","z":"2c41a2bd.aa36ae","name":"","url":"/1","method":"get","upload":false,"swaggerDoc":"","x":80,"y":360,"wires":[["1bf82f96.71871"]]},{"id":"a1d0263e.397c68","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/semafor2:0/alarm/-/set/state","qos":"","retain":"","broker":"29fba84a.b2af58","x":520,"y":580,"wires":[]},{"id":"6bd04c75.0357b4","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/semafor2:0/alarm/-/set/state","qos":"","retain":"","broker":"29fba84a.b2af58","x":500,"y":300,"wires":[]},{"id":"29fba84a.b2af58","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]
